:root{
  --font-family: 'Manrope', sans-serif;
  --color-footer: rgb(35,47,62);
  --font-family: 'Roboto', sans-serif;


  --medium-height: 214px;
  --medium-width: 334px;

  --large-height: 464px;
  --large-width: 334px;

  --long-height: 244px;
  --long-width: 1002px;

  --twoColumnlong-width: 668px;
  --twoColumnlong-height: 214px;
}


.yo{
    height: auto;
    width: auto;
    background-color: gainsboro;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.grid-container-3columns-3rows {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px;
  background-color: none;
  margin-top: 20px;
  box-shadow: -2px -2px 2px rgb(94, 104, 121, .228), 5px 5px 5px rgba(94, 104, 121, .228);
  justify-content: center;
  width: auto;
  height: auto;
}

.grid-container-3columns-2rows {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 0px;
  background-color: none;
  margin-top: 20px;
  box-shadow: -2px -2px 2px rgb(94, 104, 121, .228), 5px 5px 5px rgba(94, 104, 121, .228);
  justify-content: center;
  width: auto;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .grid-container-3columns-2rows {
    grid-template-columns: auto;
  }

  .grid-container-3columns-3rows {
    grid-template-columns: auto auto;
  }
}

.item {
  background-color: none;
  font-size: 30px;
  height: auto;
  width: auto;
  /* border: 1px solid black; */
}

.item-column1-long {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;

  background-color: none;
  text-align: center;
  font-size: 30px;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.item-column2-long {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 2;

  background-color: none;
  text-align: center;
  font-size: 30px;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.item-column3-long {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 2;

  background-color: none;
  text-align: center;
  font-size: 30px;
  height: auto;
  width: auto;
  /* border: 1px solid red; */
}

.item-row2-long {
  grid-row-start: 2;
  grid-column-end: span 3;

  background-color: none;
  text-align: center;
  font-size: 30px;
  height: auto;
  width: auto;
}

.item-firtRowTwoColumnTopLeft-long{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: none;
  text-align: center;
  font-size: 30px;
  height: auto;
  width: auto;
  background: red;
}



.medImagFrame{
  height: var(--medium-height);
  width: var(--medium-width);
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.lrgImageFrame{
  height: var(--large-height);
  width: var(--large-width);
  background-color: grey;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.longImagFrame{
  height: var(--long-height);
  width: var(--long-width);
  background-color: grey;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.twoColumn-longImagFrame{
  height: var(--twoColumnlong-height);
  width: var(--twoColumnlong-width);
  background-color: grey;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.endSpecies-name{
  height: 36px;
  width: 100%;
  padding: 6px;
  background-color: rebeccapurple;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}


  
#flex_boxx{
  height: auto;
  width: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grid-container{
  height: auto;
  width: 380px;
  background-color: salmon;
  margin: auto;

  clip-path: polygon(0% 0%, 100% 4%, 100% 96%, 0% 100%);
  padding: 40px;

  display: grid;
  grid-template-rows: auto auto auto;

  margin-top: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}  
.card-grid-container:hover{
  box-shadow: -4px -4px 4px rgb(94, 104, 121, .228), 6px 6px 8px rgba(94, 104, 121, .228);
  clip-path: polygon(4% 4%, 94% 6%, 100% 100%, 0% 100%);
}

.card-grid-container2{
  height: auto;
  width: 380px;
  background-color: yellowgreen;
  margin: auto;
  clip-path: polygon(0% 4%, 100% 0%, 100% 100%, 0% 96%);
  padding: 40px;

  display: grid;
  grid-template-rows: auto auto auto;

  margin-top: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}  
.card-grid-container2:hover{
  box-shadow: -4px -4px 4px rgb(94, 104, 121, .228), 6px 6px 8px rgba(94, 104, 121, .228);
  
  clip-path: polygon(4% 4%, 94% 6%, 100% 100%, 0% 100%);
}

.card-image{
  grid-row-start: 1;
  height: 200px;
  width: 300px;
  background-color: lightblue;
  /* border-top-right-radius: 16px;
  border-top-left-radius: 16px; */
}
.card-name{
  grid-row-start: 2;
  
  height: 40px;
  width: 300px;
  padding: 6px;
  background-color: navajowhite;
}
.card-name:hover{
  width: 100%;
}
.card-paragraph{
  grid-row-start: 3;
  
  height: 100px;
  width: 300px;
  padding: 6px;
  background-color: lightpink;
  /* border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px; */
}
.card-button{
  height: 50px;
  width: 200px;
  background:  lightcoral;
  border-radius: 50px;
  margin: auto;
  margin-top: 10px;
  border: 4px solid plum;
  transition: width 0.5s;
  cursor: pointer;
}
.card-button:hover{
  width: 250px;
  animation: 1s infinite;
}







.stickyTest{
  height: 100vh;
  width: auto;
  background-color: aliceblue;
}
.sricky{
  height: 10vh;
  width: 20vh;
  background-color: aqua;
  position: sticky;
  top: 0px;
}