.scrollTop {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #37475A;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
  }
 
  .scrollTop:hover{
    border: 4px dashed orange;
    transition: 100ms ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }