#scrollTop {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .scrollTop:hover{
    opacity: 0.5;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }