.socialShareContainer{
    height: auto;
    width: auto;
    background-color: transparent;
    display: block;
    position: fixed;
    bottom: 40px;
    left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.socialLogoFacebook{
    height: 52px;
    width: 56;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
}
.socialLogoFacebook:hover{
    height: 52px;
    width: 80px;
    background-color: #3B5998;
    display: block;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.socialLogoTwitter{
    height: 52px;
    width: 56;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
}
.socialLogoTwitter:hover{
    height: 52px;
    width: 80px;
    background-color: #00ACED;
    display: block;
    margin: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.socialLogoWhatsapp{
    height: 52px;
    width: 56;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
}
.socialLogoWhatsapp:hover{
    height: 52px;
    width: 80px;
    background-color: #25D366;
    display: block;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
