.socialShareContainer{
    height: auto;
    width:  auto;
    position: fixed;
    bottom: 40px;
    left: 0px;
    display: grid;
    grid-template-rows: auto auto auto;
}
.socialLogoFacebook{
    grid-row-start: 1;
    height: 50px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.socialLogoFacebook:hover{
    width: 70px;
    background-color: #3B5998;
}

.socialLogoTwitter{
    grid-row-start: 2;
    height: 50px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.socialLogoTwitter:hover{
    width: 70px;
    background-color: #00ACED;
}

.socialLogoWhatsapp{
    grid-row-start: 3;
    height: 50px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.socialLogoWhatsapp:hover{
    width: 70px;
    background-color: #25D366;
}
