:root{
    --font-family: 'Manrope', sans-serif;
    --color-footer: rgb(35,47,62);
    --font-paragraphStyle:'Rubik', sans-serif;

 
    --color-darkBorder: #37475A;
    --color-lightBorder: #7FC8A9;
    --color-darkBackground: #1a1919;

}

.readingGuideFrame{
    height: auto;
    width:  auto;
    background-color: none;
    display: block;
    margin: auto;
    position: fixed;
    z-index: 2;
}

.triangle{
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid orange;
    display: block;
    margin: auto;
}
.triangle2{
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid black;
    display: block;
    position: relative;
    left: -18px;
    top: 4.5px;
}

.straightLine{
    height: 12px;
    width: 600px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: -4px;
    border-radius: 10px;
    border: 2px solid orange;
}




.readingMaskFrame{
    height: auto;
    width: auto;
    background-color: transparent;
    display: block;
    position: fixed;
    z-index: 2;
}
.upper{
    height: 3000px;
    width: 4000px;
    display: block;
    background-color: black;
    opacity: 0.7;
}
.lower{
    height: 3000px;
    width: 4000px;
    display: block;
    background-color: black;
    opacity: 0.7;
}
.borderUpper{
    height: 10px;
    width: 4000px;
    display: block;
    background-color: orange;
    margin-bottom: 80px;
}
.borderBottom{
    height: 10px;
    width: 4000px;
    display: block;
    background-color: black;
}





.readingBtn{
    height: 60px;
    width: 180px;
    display: flex;
    margin: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: fixed;
    bottom: 100px;
    right: 0px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darkBorder);
    border: none;
    color: white;
    z-index: 3;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
}
.readingBtn::before{
    content: '';
    position: absolute;
    background-color: rgb(245, 180, 60);
    border-radius: 50%;
    padding: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }
  button:active::before{
    transition: 0s;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

.readingBtn:hover{
    border-left: 4px solid orange;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
}

.readingBtn2{
    height: 60px;
    width: 180px;
    display: flex;
    margin: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: fixed;
    bottom: 40px;
    right: 0px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darkBorder);
    border: none;
    color: white;
    z-index: 3;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
}
.readingBtn2::before{
    content: '';
    position: absolute;
    background-color: rgb(245, 180, 60);
    border-radius: 50%;
    padding: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }
  button:active::before{
    transition: 0s;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
.readingBtn2:hover{
    cursor: pointer;
    border-left: 4px solid orange;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
}


.readingBtn3{
    height: 60px;
    width: 180px;
    display: flex;
    margin: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: fixed;
    bottom: 160px;
    right: 0px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darkBorder);
    border: none;
    color: white;
    padding: 6px;
    z-index: 3;
    transition: 0.2s ease;
    overflow: hidden;
    cursor: pointer;
}
.readingBtn3::before{
    content: '';
    position: absolute;
    background-color: rgb(245, 180, 60);
    border-radius: 50%;
    padding: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }
  button:active::before{
    transition: 0s;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
.readingBtn3:hover{
    cursor: pointer;
    border-left: 4px solid orange;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
}


.buttonIcon{
    height: auto;
    width:  auto;
    display: inline-flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonLabel{
    height: auto;
    width:  auto;
    display: inline-flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: auto;
    margin-left: -4px;
    font-weight: bold;
    font-family: var(--font-family);
    transition: 0.4s ease;
}

.readingBtn:hover .buttonLabel{
    color: orange;
}
.readingBtn2:hover .buttonLabel{
    color: orange;
}
.readingBtn3:hover .buttonLabel{
    color: orange;
}

/* .readingBtn:focus .buttonLabel{
    color: orange;
}
.readingBtn2:focus .buttonLabel{
    color: orange;
}
.readingBtn3:focus .buttonLabel{
    color: orange;
} */



.customPointerFrame{
    height: auto;
    width:  auto;
    background-color: none;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.customPointer{
    height: auto;
    width: auto;
    background-color: transparent;
    margin: auto;
}
