.textToVoiceBtn{
    height: auto;
    width: auto;
    border: 4px solid #37475A;
    background-color: #37475A;
    display: flex;
    margin: auto;
    margin-top: 6px;
    margin-left: 70.3%;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 3;
    box-shadow: -3px -3px 3px rgb(94, 104, 121, .228), 6px 6px 6px rgba(37, 41, 48, 0.301);
    transition: 0.5s ease;
    position: relative;
}
.textToVoiceBtn:hover{
    cursor: pointer;
    border: 4px solid orange;
}



.paraBtnIcon{
    height: auto;
    width:  auto;
    display: inline-flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: -4px;

}
.paraBtnLabel{
    height: auto;
    width:  auto;
    display: inline-flex;
    background-color: none;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: auto;
    margin-left: 4px;
    font-weight: bold;
    font-family: var(--font-family);
    color: white;
    transition: 0.4s ease;
}
.textToVoiceBtn:hover .paraBtnLabel{
    color: orange;
}