
.subNavFrame{
    height: auto;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 20vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #37475A;
    border-bottom: 8px solid #37475A;
}


.previousSubNav{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #657B83;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.previousSubNav:hover{
    /* background: repeating-linear-gradient(
        90deg,
        #222,
        #222 10px,
        #000 10px,
        #000 20px
    ); */
    background-color: black;
    transition: 0.4s ease;
}
.previousSubNav:hover .txt{
    color: orange;
} 


.nextSubNav{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #678CB1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.nextSubNav:hover{
    /* background: repeating-linear-gradient(
        45deg,
        #222,
        #222 10px,
        #000 10px,
        #000 20px
    ); */
    background-color: black;
    transition: 0.4s ease;
}
.nextSubNav:hover .txt2{
    color: orange;
} 


.logo1{
    height: auto;
    width: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.txt{
    height: 100%; 
    width: 460px;
    background: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    color: white;
    padding-right: 10px;
}

.txt2{
    height: 100%; 
    width: 460px;
    background: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: white;
    padding-left: 10px;
}
