:root{
    --color-amphibian: #93c0eb;
    --color-amphibian2: #fcee71c9;
    --color-amphibian3: #dcfc9e;
    --color-darkBorder: #37475A;
    --color-textColor: rgb(35,47,62);
}

.amphibianLargeImage{
    height: 462px;
    width: 332px;
    display: block;
    background-color: none;
    margin: auto;
    overflow: hidden;
}

.amphibianMediumImage{
    background: none;
    height: 213px;
    width: 334px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.amphibianName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-amphibian);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color: var(--color-textColor);
}
.amphibianName2{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-amphibian2);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color: var(--color-textColor);
}
.amphibianName3{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-amphibian3);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color: var(--color-textColor);
}

.amphibianName-Dark{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-darkBorder);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    border-top: 1px solid #37475A;
    border-bottom: 1px solid #37475A;
}