:root{
    --color-darkBorder: #37475A;
    --color-textColor: rgb(35,47,62);
}

.aquaticLongImage{
    height: 300px;
    width: 1000px;
    display: block;
    background-color: none;
    margin: auto;
    overflow: hidden;
}

.aquaticLargeImage{
    height: 462px;
    width: 332px;
    display: block;
    background-color: none;
    margin: auto;
    overflow: hidden;
}

.aquaticMediumImage{
    background: none;
    height: 213px;
    width: 334px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.aquaticName{
    height: 36px;
    width: auto;
    display: block;
    background-color: lightblue;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.aquaticName-Dark{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-darkBorder);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.aquaticName2{
    height: 36px;
    width: auto;
    display: block;
    background-color: #A7C4BC;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

