
  .carouselFrame{
    height: auto;
    width: 56%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    background-color: none;
    border-radius: 10px;
    display: flex;
  }

  .mainImageFrame{
    height: auto;
    width: auto;
    background-color: none;
    margin: auto;
  }

  .largeCarouselMammelImage{
    height: 400px;
    width: 800px;
    display: block;
    background-color: none;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: inherit;
  }

  .mammelsCarouselName{
    height: 36px;
    width: auto;
    display: block;
    background-color: #37475A;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    border-top: 1px solid #37475A;
    border-bottom: 1px solid #37475A;
}

