:root{
    --color-smallMammels: #CA965C;
    --color-largeMammels: #FFAD60;
    --color-rhino: #A7C4BC;
    --color-bigCats: #FFC286;
    --color-primates: gainsboro;

    --color-darkBorder: #37475A;
    --color-textColor: rgb(35,47,62);

    --smallImg-height: 230px;
    --smallImg-width: 490px;

    --border-size: 0px;
}

.mammelsImageFrame{
    height: auto;
    width: auto;
    margin: auto;
}

.mammelsSmallImage-Dark{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-darkBorder);
    border-left: var(--border-size) solid var(--color-darkBorder);
    border-right: var(--border-size) solid var(--color-darkBorder);
}

.mammelsName-Dark{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-darkBorder);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    border-top: 1px solid var(--color-darkBorder);
    border-bottom: 1px solid var(--color-darkBorder);
}


.smallMammelsImage{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-smallMammels);
    border-left: var(--border-size) solid var(--color-smallMammels);
    border-right: var(--border-size) solid var(--color-smallMammels);
}

.smallMammelsName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-smallMammels);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}




.largeMammelsImage{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-largeMammels);
    border-left: var(--border-size) solid var(--color-largeMammels);
    border-right: var(--border-size) solid var(--color-largeMammels);
}

.largeMammelsName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-largeMammels);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}



.smallRhinoImage{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-rhino);
    border-left: var(--border-size) solid var(--color-rhino);;
    border-right: var(--border-size) solid var(--color-rhino);;
}
.rhinoName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-rhino);;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}




.bigCatsImage{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-bigCats);
    border-left: var(--border-size) solid var(--color-bigCats);
    border-right: var(--border-size) solid var(--color-bigCats);
}

.bigCatsName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-bigCats);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}




.primatesImage{
    background: none;
    height: var(--smallImg-height);
    width: var(--smallImg-width);
    display: block;
    margin: auto;
    overflow: hidden;
    border-top: var(--border-size) solid var(--color-primates);
    border-left: var(--border-size) solid var(--color-primates);
    border-right: var(--border-size) solid var(--color-primates);
}

.primatesName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-primates);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}