:root{
    --color-plant: #BBDFC8;
    --color-plant2: #FFAB76;
    --color-plant3: #BEAEE2;
    --color-darkBorder: #37475A;
    --color-textColor: rgb(35,47,62);
}

.plantsLargeImage{
    height: 462px;
    width: 332px;
    display: block;
    background-color: none;
    margin: auto;
    overflow: hidden;
}

.plantsMediumImage{
    background: none;
    height: 213px;
    width: 334px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.plantsName{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-plant);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.plantsName2{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-plant2);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.plantsName3{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-plant3);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--color-textColor);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.plantsName-Dark{
    height: 36px;
    width: auto;
    display: block;
    background-color: var(--color-darkBorder);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    border-top: 1px solid #37475A;
    border-bottom: 1px solid #37475A;
}