:root{
    --color-reptilesUk: #E6C563;
    --color-marineUk: #DFEEEA;
    --color-amphibianUk: #F7D08A;
    --color-mammelsUk: #FFC286;
    --color-birdUk: #FED2AA;
    --color-plantsUk: #EDD2F3;
    --color-fungusUk: #FEE3EC;

    --heightSmall: 220px;
    --widthSmall: 336px;

    --largeHeight:220px;
    --largeWidth:504px;

    --mediumWidth:504px;

    --border: 0px;

    --fontStyle-speciesNameLabel: 'Manrope', sans-serif;
    --fontSize-speciesNameLabel: 22px;
    --fontColor-speciesNameLabel: rgb(35,47,62);
    --fontWeight-speciesNameLabel: bold;

    --color-darkBorder: #37475A;
}



/* .endParagpaph{
    height: 240px;
    width: 450px;
    padding: 6px;
    background-color: #CEE5D0;
    display: flex;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: 4px solid #F3F0D7;
} */
#flexbox{
    height: auto;
    width: auto;
    display: flex;  
    margin: auto; 
    margin-top: 0px;
}
#blockbox{
    height: auto;
    width: 1008px;
    background-color: none;
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 0px;
    box-shadow: -5px -5px 5px rgb(94, 104, 121, .228), 8px 8px 8px rgba(94, 104, 121, .228);
    /* border-radius: 10px; */
}
#ukSpeciesImageFrame{
    height: auto;
    width: auto;
    margin: auto;
}

.ukSpeciesParagraph{
    height: 258px;
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: #CEE5D0;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #F3F0D7;
    border-bottom: 1px solid #F3F0D7;
    /* border-radius: 6px; */
    color: rgb(35,47,62);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ukSpeciesParagraph-Dark{
    height: 258px;
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #37475A;
    border-bottom: 1px solid #37475A;
    /* border-radius: 6px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallImageUk-Dark{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: flex;
    margin: auto;
    border-left: var(--border) solid var(--color-darkBorder);
    border-top: var(--border) solid var(--color-darkBorder);
    border-right: var(--border) solid var(--color-darkBorder);
    overflow: hidden;
}
.mediumImageUk-Dark{
    background: none;
    height: var(--largeHeight);
    width: var(--mediumWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-darkBorder);
    border-top: var(--border) solid var(--color-darkBorder);
    border-right: var(--border) solid var(--color-darkBorder);
    overflow: hidden;
}
.largeImageUk-Dark{
    background: none;
    height: var(--largeHeight);
    width: var(--largeWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-darkBorder);
    border-top: var(--border) solid var(--color-darkBorder);
    border-right: var(--border) solid var(--color-darkBorder);
    overflow: hidden;
}
.nameUk-Dark{
    background: var(--color-darkBorder);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}





.smallReptilesImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: flex;
    margin: auto;
    border-left: var(--border) solid var(--color-reptilesUk);
    border-top: var(--border) solid var(--color-reptilesUk);
    border-right: var(--border) solid var(--color-reptilesUk);
    overflow: hidden;
}
.largeReptilesImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--largeWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-reptilesUk);
    border-top: var(--border) solid var(--color-reptilesUk);
    border-right: var(--border) solid var(--color-reptilesUk);
    overflow: hidden;
}
.reptilesNameUk{
    background: var(--color-reptilesUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}




.smallMarinesImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-marineUk);
    border-top: var(--border) solid var(--color-marineUk);
    border-right: var(--border) solid var(--color-marineUk);
    overflow: hidden;
}
.largeMarinesImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--largeWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-marineUk);
    border-top: var(--border) solid var(--color-marineUk);
    border-right: var(--border) solid var(--color-marineUk);
    overflow: hidden;
}
.marinesNameUk{
    background: var(--color-marineUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}





.smallAmphibiansImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-amphibianUk);
    border-top: var(--border) solid var(--color-amphibianUk);
    border-right: var(--border) solid var(--color-amphibianUk);
    overflow: hidden;
}
.largeAmphibiansImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--largeWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-amphibianUk);
    border-top: var(--border) solid var(--color-amphibianUk);
    border-right: var(--border) solid var(--color-amphibianUk);
    overflow: hidden;
}
.amphibiansNameUk{
    background: var(--color-amphibianUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}




.smallMammelsImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-mammelsUk);
    border-top: var(--border) solid var(--color-mammelsUk);
    border-right: var(--border) solid var(--color-mammelsUk);
    overflow: hidden;
}
.largeMammelsImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--mediumWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-mammelsUk);
    border-top: var(--border) solid var(--color-mammelsUk);
    border-right: var(--border) solid var(--color-mammelsUk);
    overflow: hidden;
}
.mammelsNameUk{
    background: var(--color-mammelsUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    /* border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
}





.smallBirdsImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-birdUk);
    border-top: var(--border) solid var(--color-birdUk);
    border-right: var(--border) solid var(--color-birdUk);
    overflow: hidden;
}
.largeBirdsImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--mediumWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-birdUk);
    border-top: var(--border) solid var(--color-birdUk);
    border-right: var(--border) solid var(--color-birdUk);
    overflow: hidden;
}
.birdsNameUk{
    background: var(--color-birdUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    /* border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
}





.smallPlantsImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-plantsUk);
    border-top: var(--border) solid var(--color-plantsUk);
    border-right: var(--border) solid var(--color-plantsUk);
    overflow: hidden;
}
.largePlantsImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--mediumWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-plantsUk);
    border-top: var(--border) solid var(--color-plantsUk);
    border-right: var(--border) solid var(--color-plantsUk);
    overflow: hidden;
}
.plantsNameUk{
    background: var(--color-plantsUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    /* border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
}





.smallFungusImageUk{
    background: none;
    height: var(--heightSmall);
    width: var(--widthSmall);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-fungusUk);
    border-top: var(--border) solid var(--color-fungusUk);
    border-right: var(--border) solid var(--color-fungusUk);
    overflow: hidden;
}
.largeFungusImageUk{
    background: none;
    height: var(--largeHeight);
    width: var(--mediumWidth);
    display: block;
    margin: auto;
    border-left: var(--border) solid var(--color-fungusUk);
    border-top: var(--border) solid var(--color-fungusUk);
    border-right: var(--border) solid var(--color-fungusUk);
    overflow: hidden;
}
.fungusNameUk{
    background: var(--color-fungusUk);
    height: auto;
    width: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: var(--fontSize-speciesNameLabel);
    font-family: var(--fontStyle-speciesNameLabel);
    font-weight: var(--fontWeight-speciesNameLabel);
    color: var(--fontColor-speciesNameLabel);
    /* border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
}