:root {
    --primary: #1888ff;
  }
  
  .btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    font-family: 'Manrope', sans-serif;
    color: #5cabff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid rgb(35,47,62);;
  }
  
  .btn:hover {
    color: white;
    background-color: var(--primary);
    border: 4px dotted white;
    text-decoration: underline wavy;
  }