.dropdown-menu {
    background-color: none;
    width: auto;
    height: auto;
    position: absolute;
    top: 84px;
    left: 50vh;
    list-style: none;
    text-align: start;
    display: flex;
    align-items: center;
    
  }
  
  .dropdown-menu box {
    background: #37475A;
    cursor: pointer;
    width: 150px;
    height: 55px;
    text-align: center;
    border-top: 1px solid #37475A;
    }
  
  .dropdown-menu box:hover {
    background: #5cabff;
    /* border-left: 2px solid white;
    border-right: 2px solid white; */
    text-decoration: underline wavy;
  }
  
  .dropdown-menu.clicked {
    display: none;
    left: -100px;
  }
  
  .dropdown-link {
    height: auto;
    width: auto;
    text-decoration: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    display: block;
    list-style-type: none;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }