.dropdown-menu {
    background-color: black;
    position: absolute;
    top: 88px;
    left: 105vh;
    list-style: none;
    text-align: start;
    display: flex;
  }
  
  .dropdown-menu box {
    background: #1888ff;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 10px;  
    }
  
  .dropdown-menu box:hover {
    background: #5cabff;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  
  .dropdown-menu.clicked {
    display: none;
    left: -100px;
  }
  
  .dropdown-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: Trattatello, fantasy;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: block;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }