
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #BEBFBF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  #root {
    height: 100%;
  }
  
  html,
  body {
    min-height: 100vh;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  span {
    font-size: 40px;
    display: inline-flex;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    align-items: center;
    background-color: none;
  }
  
  /* .darkModeSwitchContainer {
    height: 64;
    width: 180px;
    margin: auto;
 
    display: flex;
    position: fixed;
    bottom: 300px;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: #37475A;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    padding-bottom: 4px;

    transition: 300ms ease;
    border-left: 4px solid #37475A;
    border-bottom: 4px solid #37475A;
    border-top: 4px solid #37475A;
    cursor: pointer;
    z-index: 3;
  } */

  .darkModeSwitchContainer {
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232F3E;
    padding-bottom: 4px;
    cursor: pointer;
    z-index: 3;
    border-bottom: 6px solid #37475A;
  }
  /* .darkModeSwitchContainer:hover{
    border-left: 4px solid orange;
    border-bottom: 4px solid orange;
    border-top: 4px solid orange;
  } */
  .darmodeLabel{
    font-size: 26px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .switch {
    position: relative;
    top: 2px;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #19a2c1;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-checkbox {
    padding: 10px
  }