:root{
    --font-family: 'Manrope', sans-serif;
    --color-footer: rgb(35,47,62);
    --font-family: 'Roboto', sans-serif;

 
    --color-darkBorder: #37475A;
    --color-lightBorder: #7FC8A9;
    --color-darkBackground: #1a1919;

}




.speciesMainFrame{
    background: none;
    height: auto;
    width: auto;
    margin: auto;
    text-decoration: none;
}


.speciesImageMid-Light{
    background: none;
    height: 210px;
    width: 310px;
    display: block;
    margin: auto;
    border-left: 4px solid #7FC8A9;
    border-top: 4px solid #7FC8A9;
    border-right: 4px solid #7FC8A9;
    overflow: hidden;
}
.speciesImageMid-Light:hover{
    border-left: 4px dashed green;
    border-top: 4px solid green;
    border-right: 4px dashed green;
    transition: 300ms ease-in-out;
}


.speciesImageMid-Dark{
    background: none;
    height: 210px;
    width: 310px;
    display: block;
    margin: auto;
    border-left: 4px solid var(--color-darkBorder);
    border-top: 4px solid var(--color-darkBorder);
    border-right: 4px solid var(--color-darkBorder);
    overflow: hidden;
}
.speciesImageMid-Dark:hover{
    border-left: 4px dashed slategray;
    border-top: 4px solid slategray;
    border-right: 4px dashed slategray;
    transition: 300ms ease-in-out;
}



.speciesType-Light{
    background: #7FC8A9;
    height: auto;
    width: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
.speciesType-Dark{
    background: var(--color-darkBorder);
    height: auto;
    width: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}