:root{
    --color-darkBorder: #37475A;
    --color-lightBorder: #7FC8A9;
    --color-green: #97dfc1;
    --color-textColor: rgb(35,47,62);
    --font-paragraphStyle:'Rubik', sans-serif;
}
h1{
    font-size: 60px;
    font-family: var(--font-paragraphStyle);
    color: white;
    display: block;
}

.extSpeciesImageLrgLight{
    background: none;
    height: 210px;
    width: 476px;
    display: block;
    margin: auto;
    border-left: 4px solid var(--color-lightBorder);
    border-top: 4px solid  var(--color-lightBorder);
    border-right: 4px solid var(--color-lightBorder);
    overflow: hidden;
}
.extSpeciesImageLrgDark{
    background: transparent;
    height: 210px;
    width: 476px;
    display: block;
    margin: auto;
    border-left: 4px solid var(--color-darkBorder);
    border-top: 4px solid var(--color-darkBorder);
    border-right: 4px solid var(--color-darkBorder);
    overflow: hidden;
}


.extSpeciesImageMidLight{
    background: none;
    height: 210px;
    width: 310px;
    display: block;
    margin: auto;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.extSpeciesImageMidDark{
    background: transparent;
    height: 210px;
    width: 310px;
    display: block;
    margin: auto;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.extinctSpeciesName-Light{
    background: #7FC8A9;
    height: auto;
    width: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: var(--color-textColor);
}
.extinctSpeciesName-Dark{
    background: var(--color-darkBorder);
    height: auto;
    width: auto;
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
}



.whyProtectFrame{
    height: auto;
    width: auto;
    margin: auto;
}

.verySmallPara-Light{
    min-height: 320px;
    width: 310px;
    padding: 6px;
    display: block;
    border-left: 2px solid var(--color-lightBorder);
    border-bottom: 2px solid  var(--color-lightBorder);
    border-right: 2px solid var(--color-lightBorder);
    font-size: 16px;
    font-family: var(--font-paragraphStyle);
    color: var(--color-textColor);
    padding-top: 20px;
    padding-bottom: 20px;
}
.verySmallPara-Dark{
    min-height: 320px;
    width: 310px;
    padding: 6px;
    display: block;
    border-left: 2px solid var(--color-darkBorder);
    border-bottom: 2px solid  var(--color-darkBorder);
    border-right: 2px solid var(--color-darkBorder);
    font-size: 16px;
    font-family: var(--font-paragraphStyle);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}


.whyProtectLabel-Light{
    background: #7FC8A9;
    height: auto;
    width: 92%;
    margin: auto;
    margin-top: -18px;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: #000;
}
.whyProtectLabel-Dark{
    background: var(--color-darkBorder);
    height: auto;
    width: 92%;
    margin: auto;
    padding: 4px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
}

.largeLine{
    height: 1px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    margin-top: 40px;
 
}

.linedown{
    height: auto;
    width: 1px;
    background-color: gainsboro;
    display: flex;
}

