@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-family: 'Manrope', sans-serif;
    --color-footer: rgb(35,47,62);
    --font-family: 'Roboto', sans-serif;

 
    --color-darkBorder: #37475A;
    --color-lightBorder: #7FC8A9;
    --color-darkBackground: #1a1919;

}

.pageMainFrameLight{
    height: auto;
    width: auto;
    background-color: white;
    transition: background-color 0.25s ease-in-out;
}
.pageMainFrameDark{
    height: auto;
    width: auto;
    background-color: #1a1919;
    transition: background-color 0.25s ease-in-out;
}


.pageMainFrame {
    height: auto;
    width: auto;
    background-color: none;
}

.pageBodyFrame{
    height: auto;
    width: 90%;
    margin: auto;
    background-color: none; 
    padding-bottom: 20vh; 
}


.container{
    background-color: none;
    height: auto;
    width: auto;
    margin-top: 8vh;
}


.box{
    height: auto;
    width: 1000px;
    background-color: none;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.box2{
    height: auto;
    width: 1000px;
    display: block;
    background-color: none;
    margin: auto;
    margin-top: 20px;
}
.box3{
    height: auto;
    width: 500px;
    display: block;
    background-color: none;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.box4{
    height: auto;
    width: 1000px;
    display: flex;
    background-color: none;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


.mainSubHeadFrame{
    height: 80px;
    width: 100%;
    margin-top: 20px;
    background-color: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.thinLine{
    height: 1px;
    width: 100%;
    display: inline-block;
    background-color: gainsboro;
}




.subheadLrg{
    background: white;
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    border-radius: 10px;
    color: rgb(35,47,62);
    text-shadow:  1px 1px 1px rgb(35,47,62);
    position: absolute;
}
.subheadLrgDrk{
    background-color: var(--color-darkBackground);
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    border-radius: 10px;
    color: white;
    text-shadow:  1px 1px 1px white;
    position: absolute;
}




.subheadSml{
    background: white;
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 6px;
    color: rgb(35,47,62);
    text-shadow:  1px 1px 1px rgb(35,47,62);
    position: absolute;
}
.subheadSmlDrk{
    background-color: var(--color-darkBackground);
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 6px;
    color: white;
    text-shadow:  1px 1px 1px white;
    position: absolute;
}




.paragpaphLrg-Light{
    min-height: 100px;
    width: 976px;
    padding: 6px;
    background-color: #CEE5D0;
    display: flex;
    margin: auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: 2px solid #F3F0D7;
    color: #000;
}
.paragpaphLrg-Dark{
    height: 100px;
    width: 976px;
    padding: 6px;
    background-color: transparent;
    display: flex;
    margin: auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: 2px solid var(--color-darkBorder);
    color: white;
}


/* .speciesImageLrg{
    background: none;
    height: 210px;
    width: 476px;
    display: block;
    margin: auto;
    border-left: 4px solid #7FC8A9;
    border-top: 4px solid #7FC8A9;
    border-right: 4px solid #7FC8A9;
    overflow: hidden;
} */







.largeSpeciesImgFrame{
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.mediumSpeciesImgFrame{
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.MedBox{
    height: auto;
    width: auto;
    background: none;
}



.extinctSpeciesImage{
    height: 100%;
    width: 100%;
    display: block;
}
.extinctSpeciesImage:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.07);
}
