@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root{
    --font-family: 'Manrope', sans-serif;
    --color-footer: rgb(35,47,62);
    --font-paragraphStyle:'Rubik', sans-serif;

 
    --color-darkBorder: #37475A;
    --color-lightBorder: #7FC8A9;
    --color-darkBackground: #1a1919;

}

.pageMainFrameLight{
    height: auto;
    width: auto;
    background-color: white;
    transition: background-color 0.25s ease-in-out;
}
.pageMainFrameDark{
    height: auto;
    width: auto;
    background-color: #1a1919;
    transition: background-color 0.25s ease-in-out;
}


.pageMainFrame {
    height: auto;
    width: auto;
    background-color: none;
}

.pageBodyFrame{
    height: auto;
    width: auto;
    margin: auto;
    background-color: none; 
    padding-bottom: 20vh; 
}


.container{
    background-color: none;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 6vh;
}
.container2{
    background-color: #E2F6F7;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 6vh;
}

.landingImageBox {
    background: none;
    height: 1000px;
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* border-bottom: 6px solid #37475A; */
}
.landingImageBox2 {
    background: none;
    height: 500px;
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* border-bottom: 6px solid #37475A; */
}

.box{
    height: auto;
    width: 1020px;
    background-color: none;
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: -2px -2px 2px rgb(94, 104, 121, .228), 5px 5px 5px rgba(94, 104, 121, .228);
}
.box-noshadow{
    height: auto;
    width: auto;
    background-color: none;
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.box2{
    height: auto;
    width: 1000px;
    display: block;
    background-color: none;
    margin: auto;
    margin-top: 20px;
}
.box3{
    height: auto;
    width: 500px;
    display: block;
    background-color: none;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.box4{
    height: auto;
    width: 1000px;
    display: flex;
    background-color: rebeccapurple;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px 2px rgb(94, 104, 121, .228), 5px 5px 5px rgba(94, 104, 121, .228)
}


.mainSubHeadFrame{
    height: 10px;
    width: 100%;
    margin-top: 80px;
    background-color: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
}
.thinLine{
    height: 1px;
    width: 100%;
    display: inline-block;
    background-color: gainsboro;
}




.subheadLrg{
    background: white;
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    border-radius: 10px;
    color: rgb(35,47,62);
    text-shadow:  1px 1px 1px rgb(35,47,62);
}
.subheadLrgDrk{
    background-color: var(--color-darkBackground);
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    border-radius: 10px;
    color: white;
    text-shadow:  1px 1px 1px white;
}




.subheadSml{
    background: white;
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 6px;
    color: rgb(35,47,62);
    text-shadow:  1px 1px 1px rgb(35,47,62);
}
.subheadSmlDrk{
    background-color: var(--color-darkBackground);
    height: auto;
    width: auto;
    display: inline-block;
    padding-left:6px;
    padding-right: 6px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 6px;
    color: white;
    text-shadow:  1px 1px 1px white;
}



.paragraphContainer{
    height: auto;
    width: auto;
    background-color: transparent;
    display: block;
    margin: auto;
}
.paragpaphLrg-Light{
    min-height: auto;
    width: 1020px;
    padding: 6px;
    background-color: #CEE5D0;
    display: flex;
    margin: auto;
    margin-top: 40px;
    font-family: var(--font-paragraphStyle);
    border-radius: 6px;
    border: 2px solid #F3F0D7;
    color: var(--color-footer);
}
.paragpaphLrg-Dark{
    min-height: auto;
    width: 1020px;
    padding: 6px;
    background-color: transparent;
    display: flex;
    margin: auto;
    margin-top: 40px;
    font-family: var(--font-paragraphStyle);
    border-radius: 6px;
    border: 2px solid var(--color-darkBorder);
    color: white;
}


/* .speciesImageLrg{
    background: none;
    height: 210px;
    width: 476px;
    display: block;
    margin: auto;
    border-left: 4px solid #7FC8A9;
    border-top: 4px solid #7FC8A9;
    border-right: 4px solid #7FC8A9;
    overflow: hidden;
} */







.largeSpeciesImgFrame{
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.mediumSpeciesImgFrame{
    height: auto;
    width: auto;
    display: inline-block;
    background-color: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}




.extinctSpeciesImage{
    height: 100%;
    width: 100%;
    display: block;
}
.extinctSpeciesImage:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.07);
    filter: brightness(50%);
}




.videoFrame{
    height: 600px;
    width: auto;
    background-color: #E2F6F7;
    display: flex;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.videoFrame-White{
    height: 600px;
    width: auto;
    background-color: none;
    display: flex;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.videoFrame-Dark{
    height: 600px;
    width: auto;
    background-color: none;
    display: flex;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.video{
    height: auto;
    width: auto;
    display: block;
    background: var(--color-lightBorder);
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.video-Dark{
    height: auto;
    width: auto;
    display: block;
    background: var(--color-darkBorder);
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.video-Discription{
    height: auto;
    width: auto;
    display: block;
    background: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-paragraphStyle);
    color: white;
    text-align: center;
}


/* ------------------------------------------------------------//Artist-Credit-Overlay-Effect//------------------------------------------------------------ */
.speciesCardContainer {
    position: relative;
    display: inline-block;
    height: auto;
    width:  auto;
}

.photograpgerName {
    color: var(--color-textColor);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition: .2s ease;
}
.speciesCardContainer:hover .overlay{
    opacity: 0.6;
}

.overlayLeft{
    height: 24px;
    width: 0;
    top: 160px;
    left:0;
    background-color: white;
    text-align: center;
}

.speciesCardContainer:hover .overlayLeft{
    width: 100%;
}