.formFrame{
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 8vh;
    background: none;
    display: block;
    padding: 20px;
    border-radius: 8px;
    border: 4px solid gainsboro;
}
.signUp-In-Btn{
    background: #1888ff;
    height: 90px;
    width: 230px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    color: white;
    /* border: 1px solid #1888ff; */
    border-radius: 50px;
    border: 10px solid #003357;
}
.signUp-In-Btn:hover{
    background: rgb(35,47,62);
    transition: 300ms ease-in-out;
    text-decoration: underline dashed;
}


.registerLabel{
    background: none;
    height: auto;
    width: auto;
    padding: 4px;
    padding-left: 0px;
    display: block;
    text-align: left;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    margin-top: 10px;
    color: rgb(35,47,62);
}
.inputBox{
    background: gainsboro;
    height: 34px;
    width: 100%;
    padding: 4px;
    display: block;
    text-align: left;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    color: rgb(35,47,62);
    border: none;
}